<div class="container">
    <div class="modal-dialog text-center">
        <div class="col-sm-9 main-section">
            <div class="modal-content">

                <div class="col-12 user-img">
                    <img src="../../assets/face.png">
                </div>

                <div class="col-12 form-input">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                        <div class="form-group myinput name">
                            <input type="text" class="form-control" placeholder="Enter Name">
                        </div>

                        <div class="form-group myinput phone">
                            <input type="text" class="form-control" placeholder="Enter Phone Number">
                        </div>
                        <div class="form-group">
                            <ng-multiselect-dropdown class="form-control" [placeholder]="'Select Favourite Subject'"
                                [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems"
                                [ngModelOptions]="{standalone: true}"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                style="padding: 0px;">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="form-group myinput">
                            <input type="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="form-group myinput">
                            <input type="password" class="form-control" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>